body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1086px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:952px;
}
#u451 {
  position:absolute;
  left:-8px;
  top:0px;
  width:1102px;
  height:952px;
}
#u452 {
  position:absolute;
  left:2px;
  top:468px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
