body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:738px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:2141px;
}
#u3235 {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:2141px;
}
#u3236 {
  position:absolute;
  left:2px;
  top:1062px;
  width:734px;
  visibility:hidden;
  word-wrap:break-word;
}
